.head{
	border: 0px solid powderblue;
	padding: 70px;
	background-image: linear-gradient(orange,white,green)
}
.head h1{
	font-size: 50px;
	margin-right: 20%;
	display: block;
	animation: abcd 18s infinite;
}
 @keyframes abcd{
	
  0% { margin-left: 100px}
  10% { margin-left: 50px }
  20% { margin-right: 100px }
  30% { margin-right: 50px}
  40% { margin-left: 100px }
  50% { margin-left: 50px }
  60% { margin-right: 100px }
  70% { margin-right: 50px }
  80% { margin-left: 100px }
  90% { margin-left: 50px }
  100%{margin-right: 100px}    
}
.left{
	border: 0px solid powderblue;
    width:25%;
    height: 85%;
    float: left;
    margin-top: 0px;
  
}
.left h1{
	color: white;
}
.middle{
	border: 0px solid powderblue;
	width: 74%;
	height: 7%;
	margin-right: 5px;
	float: left;
	margin-top: 15px;
	background-image: linear-gradient(grey,lightblue);

}
.middle .home{
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	text-decoration: none;
	color: white;
	padding: 60px 20px;
   	transition: .3s ease;
}
.middle .home:hover{
	color: black;
	font-weight: bold;
	transform: scale(0.6);

}
.middle1{
     border: 0px solid powderblue;
     width: 50%;
     height: 70%;
     margin-top: 30px;  
     float: left;
	background-image: linear-gradient(white,lightgrey);
}
.right{
    border: 0px solid powderblue;
    float: left;
    margin-top: 30px;
    width: 23%;
    height: 70%;
}
.right .user input[type=text]{
	margin-top: 10px;
	width: 80%;
	padding: 8px;
	font-size: 15px;
	border:none;
	border-bottom: 1px solid black;
}
.right .btn{
	background-color: green;
	color: white;
	padding: 15px;
	width: 50%;
	border-radius: 30px;
	opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
}
.right .btn:hover{opacity: 1}
.right .btn1{
	background-color: red;
	color: white;
	padding: 15px;
	width: 50%;
	border-radius: 30px;
	opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
}
.right .btn1:hover{opacity: 1}

.right .cal{
	background-image:linear-gradient(lightblue,grey);
	color: black;
	padding: 15px;
	width: 80%
	border-radius: 80px;
	opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
}
.right .cal:hover{opacity: 1}

.bott{
	 border: 0px solid powderblue;
	 height: 50%;
	 margin-top: 43%;
	 background-image: url('gov3.jpg');
	 background-size: 100% 100%;
	 padding: 12%;
	 box-shadow: 2px 5px 10px black;
}